@charset "utf-8";

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 100;
  src: url(../css/font/NotoSansKR-Thin.woff2) format('woff2'),
       url(../css/font/NotoSansKR-Thin.woff) format('woff'),
       url(../css/font/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 200;
  src: url(../css/font/NotoSansKR-Light.woff2) format('woff2'),
       url(../css/font/NotoSansKR-Light.woff) format('woff'),
       url(../css/font/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
 font-family: 'NotoSansKR';
 font-style: normal;
 font-weight: 400;
 src: url(../css/font/NotoSansKR-Regular.woff2) format('woff2'),
	  url(../css/font/NotoSansKR-Regular.woff) format('woff'),
	  url(../css/font/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
 font-family: 'NotoSansKR';
 font-style: normal;
 font-weight: 500;
 src: url(../css/font/NotoSansKR-Medium.woff2) format('woff2'),
	  url(../css/font/NotoSansKR-Medium.woff) format('woff'),
	  url(../css/font/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
 font-family: 'NotoSansKR';
 font-style: normal;
 font-weight: 600;
 src: url(../css/font/NotoSansKR-Bold.woff2) format('woff2'),
	  url(../css/font/NotoSansKR-Bold.woff) format('woff'),
	  url(../css/font/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
 font-family: 'NotoSansKR';
 font-style: normal;
 font-weight: 800;
 src: url(../css/font/NotoSansKR-Black.woff2) format('woff2'),
	  url(../css/font/NotoSansKR-Black.woff) format('woff'),
	  url(../css/font/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
 font-family: 'IropkeBatang';
 font-style: normal;
 font-weight: 400;
 src: url(../css/font/IropkeBatangM.woff2) format('woff2'),
	  url(../css/font/IropkeBatangM.woff) format('woff');
}


 @font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 200;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(../css/font/RobotoCondensed-Light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(../css/font/RobotoCondensed-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(../css/font/RobotoCondensed-Bold.woff)
}

@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

/*common*/
* { margin: 0; padding: 0; /*box-sizing: border-box;*/ -webkit-touch-callout: none; }
html { -webkit-font-size-adjust: none;overflow-y: scroll; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;/*word-wrap:break-word;word-break:break-all*/ }
html, body { margin: 0; padding: 0; color: #444; font-size: 15px; letter-spacing:-0.7px; font-family:'Roboto Condensed', 'NotoSansKR', '맑은고딕', Malgun Gothic, sans-serif,'Sans-serif', 'Malgun Gothic',  맑은고딕, 돋움, 'dotum'; min-width:320px; line-height:normal;line-height:1.4em; font-weight:400; text-rendering: optimizeLegibility; vertical-align:middle !important;}

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, abbr, address, cite, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, audio, video { margin: 0; padding: 0; border: 0; vertical-align:baseline;}

h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size:100% ; line-height:normal  }
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { margin: 0; padding: 0 }
input, textarea, select {   color: inherit;  font-family:'Roboto Condensed', 'NotoSansKR', '맑은고딕', Malgun Gothic, sans-serif,'Sans-serif', 'Malgun Gothic',  맑은고딕, 돋움, 'dotum'; }


select{-webkit-border-radius:0; -webkit-appearance:none;}
input[type=text], input[type=password], input[type=number], input[type=tel] { border:1px solid #ddd; height:33px; line-height:33px; -webkit-border-radius:0; -webkit-appearance:none !important; -moz-appearance: none; -ms-appearance: none; appearance: none;}
input[type=submit]{-webkit-border-radius:0; -webkit-appearance:none !important; -moz-appearance: none; -ms-appearance: none; appearance: none;}
input[type=image]{ height:auto; border:0;   }
input[type=file]{ border:0; background:none;  }

textarea{ overflow-y:auto;  border:1px solid #ddd; }
select { height: 30px ; margin: 0; padding: 0; border: 1px solid #ddd; box-sizing: border-box; }


input[type=checkbox], input[type=radio]{ width:14px; height:14px; vertical-align:middle; margin-top:-2px}



label { cursor: pointer }
label, select, input, button { vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0 }

img { max-width: 100%; border: 0;-webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; -webkit-tap-highlight-color: rgba(0,0,0,0) ;vertical-align: top; -ms-interpolation-mode: bicubic}

ol, ul { list-style: none }
ol, ul, li { list-style: none }

img, fieldset { border: 0 none }


a { color:inherit;-webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
a:link, a:visited { text-decoration: none }
a:hover, a:active { text-decoration: none;-webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}

blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
em, address { font-style: normal; }
hr { display: none; clear: both;height: 0; }
legend, caption { visibility: hidden; overflow: hidden; position: absolute; width: 0; height: 0; margin: 0; padding: 0; line-height: 0 }


strong, table th{ font-weight:normal; font-weight:400 !important}



/*html5 구 버전 적용 위한 소스*/
[hidden], area, base, basefont, command, datalist, head, input[type=hidden], link, menu[type=context], meta, noembed, noframes, param, script, source, style, track, title { /* case-insensitive */
 display: none;
}
address, article, aside, blockquote, body, center, dd, dir, div, dl, dt, figure, figcaption, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, legend, listing, menu, nav, ol, p, plaintext, pre, section, summary, ul, xmp { display: block; }
table { display: table; }
caption { display: table-caption; }
colgroup { display: table-column-group; }
col { display: table-column; }
thead { display: table-header-group; }
tbody { display: table-row-group; }
tfoot { display: table-footer-group; }
tr { display: table-row; }
td, th { display: table-cell; }
li { display: list-item; }
ruby { display: ruby; }
rt { display: ruby-text; display: inline; }



/*마진 및 정렬*/

.text_c{ text-align:center}
.text_l{ text-align:left}
.text_r{ text-align:right}

.float_r{ float:right}
.float_l{ float:left}

.clear {clear:both;}
.blind {display:none;}

.pat0{ padding-top:0 !important}
.pab0{ padding-bottom:0 !important}
.mat0{ margin-top:0 !important}

.mat5{ margin-top:5px !important}
.mar5{ margin-right:5px !important}
.mab5{ margin-bottom:5px !important}
.mal5{ margin-left:5px !important}

.mat10{ margin-top:10px !important}
.mar10{ margin-right:10px !important}
.mab10{ margin-bottom:10px !important}
.mal10{ margin-left:10px !important}

.mat20{ margin-top:20px !important}
.mar20{ margin-right:20px !important}
.mab20{ margin-bottom:20px !important}
.mal20{ margin-left:20px !important}

.mat30{ margin-top:30px !important}
.mar30{ margin-right:30px !important}
.mab30{ margin-bottom:30px !important}
.mal30{ margin-left:30px !important}

.mat40{ margin-top:40px !important}
.mar40{ margin-right:40px !important}
.mab40{ margin-bottom:40px !important;}
.mal40{ margin-left:40px !important}

.mat50{ margin-top:50px !important}
.mar50{ margin-right:50px !important}
.mab50{ margin-bottom:50px !important}
.mal50{ margin-left:50px !important}

.mat60{ margin-top:60px !important}
.mar60{ margin-right:60px !important}
.mab60{ margin-bottom:60px !important}
.mal60{ margin-left:60px !important}

.mat70{ margin-top:70px !important}
.mar70{ margin-right:70px !important}
.mab70{ margin-bottom:70px !important}
.mal70{ margin-left:70px !important}

.mat80{ margin-top:80px !important}
.mar80{ margin-right:80px !important}
.mab80{ margin-bottom:80px !important}
.mal80{ margin-left:80px !important}

.mat100{ margin-top:100px !important}
.mar100{ margin-right:100px !important}
.mab100{ margin-bottom:100px !important}
.mal100{ margin-left:100px !important}

@media screen and (max-width:640px){
.mat10{ margin-top:5px !important}
.mar10{ margin-right:5px !important}
.mab10{ margin-bottom:5px !important}
.mal10{ margin-left:5px !important}

.mat20{ margin-top:10px !important}
.mar20{ margin-right:10px !important}
.mab20{ margin-bottom:10px !important}
.mal20{ margin-left:10px !important}

.mat30{ margin-top:15px !important}
.mar30{ margin-right:15px !important}
.mab30{ margin-bottom:15px !important}
.mal30{ margin-left:15px !important}

.mat40{ margin-top:20px !important}
.mar40{ margin-right:20px !important}
.mab40{ margin-bottom:20px !important;}
.mal40{ margin-left:20px !important}

.mat50{ margin-top:25px !important}
.mar50{ margin-right:25px !important}
.mab50{ margin-bottom:25px !important}
.mal50{ margin-left:25px !important}

.mat60{ margin-top:30px !important}
.mar60{ margin-right:30px !important}
.mab60{ margin-bottom:30px !important}
.mal60{ margin-left:30px !important}

.mat70{ margin-top:35px !important}
.mar70{ margin-right:35px !important}
.mab70{ margin-bottom:35px !important}
.mal70{ margin-left:35px !important}

.mat80{ margin-top:40px !important}
.mar80{ margin-right:40px !important}
.mab80{ margin-bottom:40px !important}
.mal80{ margin-left:40px !important}

.mat100{ margin-top:50px !important}
.mar100{ margin-right:50px !important}
.mab100{ margin-bottom:50px !important}
.mal100{ margin-left:50px !important}
}

.point_w {color:#fff !important;}
.point_c1 {color:#00ac53 !important;}
.point_c2 {color:#054c52 !important;}
.point_c3 {color:#c62828 !important;} /*포인트 색깔 : 레드톤 */

.white {color:#fff;}
.gray1 {color:#111;}
.gray1 {color:#222;}
.gray3 {color:#333;}
.gray4 {color:#444;}
.gray5 {color:#555;}
.gray6 {color:#666;}
.gray7 {color:#777;}
.gray8 {color:#888;}
.gray9 {color:#999;}

.f_light {font-weight:100 !important;}
.f_bold {font-weight:600 !important;}
.f_under {text-decoration:underline;}

.f_13 {font-size:13px !important;}
.f_14 {font-size:14px !important;}
.f_15 {font-size:15px !important;}
.f_16 {font-size:16px !important;}

.clearfix::after{display: block; content: ''; clear: both;}

::selection {background:#111; color:#fff; text-shadow:none;}
::-moz-selection {background:#111; color:#fff; text-shadow:none;}
::-webkit-selection {background:#111; color:#fff; text-shadow:none;}
selector::-webkit-scrollbar {display: none;}
selector:: {display: none;}
selector::-moz-scrollbar {display: none;}




/* Comming Soon */
.comming_soon {position:absolute; z-index:91; padding:60px 0; width:100%; background:url("../img/common/loading_bg.png") no-repeat center center; }
.comming_soon.more {padding:120px 0;}
.comming_soon dl {padding:0 20px;}
.comming_soon dl dt {margin:0 0 24px 0;}
.comming_soon dl dt p img {width:132px;}
.comming_soon dl dd p.comming_lar {font-size:30px; color:#222; line-height:normal;}
.comming_soon dl dd p.comming_lar span.dot {position:relative; font-weight:600; font-size:36px;}
.comming_soon dl dd p.comming_lar span.dot:before {width:6px; height:6px; background:#222; border-radius:50%; content:" "; display:inline-block; position:absolute; left:50%; top:-10px; margin:0 0 0 -3px;}
.comming_soon dl dd p.comming_sma {margin:10px 0 0 0; }
.comming_soon dl dd p.comming_sma span {display:block; color:#444; font-size:19px; margin:0 0 6px 0;}
.comming_soon dl dd p.comming_sma span.m {display:inline; color:#888; font-size:15px; margin:0 0 0 0;}

@media screen and (max-width:1300px){
.comming_soon {background-size:cover;}
.comming_soon.more {padding:80px 0;}
}
@media screen and (max-width:720px){
.comming_soon {padding:12px 0;}
.comming_soon.more {padding:52px 0;}
.comming_soon dl dt {margin:0 0 16px 0;}
.comming_soon dl dt p img {width:100px;}
.comming_soon dl dd p.comming_lar {font-size:24px;}
.comming_soon dl dd p.comming_lar span.dot {font-size:30px;}
.comming_soon dl dd p.comming_sma {margin:8px 0 0 0;}
.comming_soon dl dd p.comming_sma span {font-size:17px; margin:0 0 2px 0;}
}
@media screen and (max-width:600px){
.comming_soon dl dd p.comming_sma br {display:none;}
}
@media screen and (max-width:480px){
.comming_soon dl dt p img {width:84px;}
.comming_soon dl dd p.comming_lar {font-size:20px;}
.comming_soon dl dd p.comming_lar span.dot {font-size:26px;}
.comming_soon dl dd p.comming_sma span {color:#666; font-size:15px; margin:0 0 0 0;}
.comming_soon dl dd p.comming_sma span.m {display:none;}
}


/* Loading */
#loading {width: 100%; height: 100%; top: 0px; left: 0px; position: fixed;  display: block; opacity: 0.8; background-color: #fff;  z-index: 19999999; text-align: center;}
#loading-image {position: absolute; top: 50%; left: 50%; z-index: 100;}

/* bxslider-4 Fixing FOUC on mobile */
.bxslider {
    transform: scale(0);
}