@charset "utf-8";

.wrap{position:relative;  max-width:1280px; margin:0 auto;  /*overflow:hidden*버튼등 영역밝 가려짐떄문에 못씀*/ } /*전체 최대 넓이 조절 */

@media screen and (max-width:1300px) {
.wrap{margin:0 2% !important; }
}
@media screen and (max-width:640px) {
.wrap{margin:0 4% !important; }
}

.ex_guide {background:#222; position:fixed; width:100%; top:0px; height:36px; z-index:10000000000;}
.ex_guide p {line-height:24px; vertical-align:middle; margin:6px 0; color:#fff;}
.ex_guide p span.ex_b {font-weight:600;}

@media screen and (max-width:640px) {
.ex_guide {height:32px;}
.ex_guide p {margin:4px 0; font-size:14px;}
.ex_guide p span.m_none {display:none;}
}


/* Common Layout*/

#header_wrap { position: absolute;  z-index: 4000 !important; height:86px; width:100%; /*top:36px;*/}
#header_wrap.modify1 { position: relative;}
#header { width: 100%;  height: 86px; background:; position: fixed; border-bottom:1px solid rgba(0, 0, 0, 0.1);}
.modify1 #header{background: #fff !important;}
#header h1 {position: absolute; z-index: 10000 !important; padding: 24px 0px 0px; left: 50%;  margin-left: -640px;  }
#header h1 img {width:191px;}

@media screen and (max-width:1280px) {
#header h1	{ margin-left: -48%;}
}

/*gnb*/
.gnb { margin: 0 auto;  padding-top:25px; z-index:100;  max-width:1280px}
.gnb .button {float:right; color:#fff; font-size:13px; display:inline-block; line-height:36px; letter-spacing:1px; padding:0 20px; border:1px solid #fff; border-radius:20px;}
.modify1 .gnb .button{color: #222; border-color: #333;}
.gnb .button:hover {background:#fff; color:#022225; font-weight:600;}
.modify1 .gnb .button:hover{background: #222; color: #fff;}
.gnb .button a {display:block;}


/*lnb*/
.lnb { position: absolute; z-index: 11 !important; top: 0px; line-height:86px; left: 50%; width: 1280px; margin-left: -640px; overflow:hidden; text-align:center;  }
.lnb:hover{/*background: url(../img/common/gnb_line.png)*/ /*border-left:1px solid #03F; border-right:1px solid #03F*/}
.lnb > ul{}
.lnb > ul > li{ border-left:1px solid transparent;}
.lnb > ul > li:last-child{border-right:1px solid transparent; }
.lnb > ul > li:first-child{ margin-left:300px;}
.lnb > ul:hover { border-right:1px solid #262626;}
.lnb > ul:hover > li{ border-left:1px solid #262626}
.modify1 .lnb > ul:hover > li{ border-left-color: #f5f5f5;}
.lnb > ul:hover > li:last-child{border-right:1px solid #262626}
.modify1 .lnb > ul:hover > li:last-child{border-right-color: #f5f5f5;}
.lnb > ul > li { text-align: center; letter-spacing: -0.5px; position:relative;}
.lnb > ul > li > a { padding: 0px 10px; display: block; font-size: 16px;  letter-spacing:0px ; color:#fff; font-weight: 400; position:relative;}
.modify1 .lnb > ul > li > a{color: #111;}
.lnb > ul > li > a span {display:inline-block; line-height:82px; border-bottom:3px solid transparent;}
.lnb > ul > li > a.on span {border-bottom:3px solid #222;}
.lnb > ul:hover > li > a span {border-bottom:3px solid transparent !important;}
.lnb > ul:hover > li > a.on span {border-bottom:3px solid transparent !important;}
.lnb > ul > li:hover {background:#222; }
.lnb > ul > li > a:hover, .lnb > ul > li > a.on {font-weight:;} /* 오버색상*/
.lnb > ul > li:hover a{ color:#fff !important }

.lnb ul li.lnb_1 { float: left; position: relative; }
.lnb ul li.lnb_1 ul {  display: none;  position: relative; top:0px; height: 100%; clear: both; height:359px; overflow:hidden}
.lnb ul li.lnb_1 ul li a { font-size: 14px; display: block; padding: 3px 5px; color: #e9e9e9; line-height:1.5em; font-weight:200; }
.modify1 .lnb ul li.lnb_1 ul li a{color: #444;}
.lnb ul li.lnb_1 ul li.dim a {opacity:0.5;}
.lnb li.on ul li a:hover { color: #11c266; text-decoration:underline  }   /*오버색상*/
.lnb li.lnb1 { width: 125px; text-align: center }
.lnb li.lnb2 { width: 125px; text-align: center }
.lnb li.lnb3 { width: 125px; text-align: center }
.lnb li.lnb4 { width: 125px; text-align: center }
.lnb li.lnb5 { width: 125px; text-align: center }
.lnb li.lnb6 { width: 125px; text-align: center }
.lnb li.lnb7 { width: 125px; text-align: center }
.lnb li.lnb8 { width: 125px; text-align: center }
.lnb li.lnb9 { width: 125px; text-align: center }


.bg_navi { background: #111; top: 86px; width: 100%; height: 0px; overflow: hidden; position: absolute; z-index: 10; /*opacity:.99;filter:alpha(opacity=99);*/}
.modify1 .bg_navi{background: #fff;    border-bottom: 1px solid #ddd;}
.bg_navi li.bgn { left: 50%; top: 0px; width: 1000px; padding-top: 10px; margin-left: -500px; position: absolute; z-index: 10000; }
.bg_navi li.bgn p.lnb_tit { font-size: 14px; font-weight:600; margin-bottom:10px; display:none }
.bg_navi li.bgn p.lnb_img {  padding-top: 0px; width: 250px; font-size: 12px; letter-spacing: -1px; display:none }
.bg_navi li.bgn p.lnb_img img { margin-bottom: 10px; }
.bg_navi li.bgn p.text { float: left; letter-spacing: -1px; color: #666; line-height:normal }

#header.small { width: 100%;  height: 50px; background:#111 !important; border-bottom:0px solid ; border-color:rgba(0,0,0,0.1) }
.modify1 #header.small{background: #fff !important;    border-bottom: 1px solid #eee;}
#header.small .gnb {padding-top:9px; }
#header.small .gnb .button {line-height:30px; letter-spacing:1px; padding:0 18px; border-radius:15px;}
#header.small .gnb .button:hover {color:#111;}
.modify1 #header.small .gnb .button:hover{color: #fff;}
#header.small .lnb {  line-height:50px;   }
#header.small .lnb ul li.lnb_1 ul {height:360px;}
#header.small .lnb > ul > li > a span {display:inline-block; line-height:45px; z-index:9; position:relative; border-bottom:3px solid transparent;}
#header.small .lnb > ul > li > a.on span {border-bottom:3px solid #222;}
#header.small h1 { padding: 11px 0px 0px; }
#header.small h1 img{width:136px;}
#header.small .bg_navi {top: 50px;}

.single_header #header {background:#111 !important; border-bottom:1px solid #111;}
.mobile_lnb { display: none;}


@media screen and (max-width:1280px) {
#header_wrap { height: 50px; position:absolute;}
#header { width: 100%; margin: 0 auto; height: 50px; position:fixed; border-bottom:1px solid rgba(0, 0, 0, 0.1);}
#header h1 { padding: 11px 0px 0px; left: 2%; top: 0px; margin-left: 0; position: absolute; z-index: 1 ; max-width:150px ; position:relative ; text-align: left}
#header h1 img{ width:136px;}
.gnb { display: none;  }
.lnb{ display:none}

.modify1 .bg_navi{border-bottom: 0;}

.mobile_lnb { display: block; position: absolute; top: 0px;  width:100%; text-align:right ; height:50px;}
.mobile_lnb a.menu_btn{ padding:0 2% 0 0 ; display:inline-block; z-index:3002 !important; position:relative;}
.mobile_lnb a.menu_btn img{ margin:14px 0;margin-right:0%;}
.mobile_lnb .button {position:absolute; display:block; line-height:28px; vertical-align:middle; top:11px; right: 60px; border:1px solid #fff; padding:0 14px; border-radius:15px; color:#fff; font-size:13.5px; z-index:50;}

.mobile_menu_area{ overflow:none; display:none; background:#222; display:block; position:absolute; top:0px; width:100%; left:0; padding:51px 0 0 0; z-index:3001 !important;}
.modify1 .mobile_menu_area{background: #fff;}
.mobile_menu_area ul:after {clear:both; display:block; content:"";}
.mobile_menu_area ul li { clear:both; padding:12px 2%; border-top:1px solid #2e2e2e; overflow:hidden}
.modify1 .mobile_menu_area ul li{border-top-color: #f3f3f3;}
.mobile_menu_area ul li p {text-align:left; margin:0; padding:0; font-size:16px; padding:5px 5px; letter-spacing:0px; color:#fff; background:url("../img/common/plus_bold_white.png")center right no-repeat; background-size:16px;}
.modify1 .mobile_menu_area ul li p{color: #111; background-image: url("../img/common/plus_bold.png");}
.mobile_menu_area ul li p a {display:block;}

.mobile_menu_area ul li.etc {float:left; width:25%; background:#4a4a4a; padding:0 0; clear:none; border-top:0px; border-bottom:1px solid #555;}
.modify1 .mobile_menu_area ul li.etc{background: #e9e9e9; border-bottom-color: #ddd;}
.mobile_menu_area ul li.etc p {background:none; color:#eee; text-align:center; font-size:14px; padding:12px 2%;border-right:1px dashed #555; width:auto;}
.modify1 .mobile_menu_area ul li.etc p{border-right-color: #c5c5c5; color: #333;}
.mobile_menu_area ul li.etc:last-child p {border-right:0px;}

.mobile_menu_area .shortcut_icons ul:after {clear:both; display:block; content:"";}
.mobile_menu_area .shortcut_icons ul li {position:relative; width:10%; float:left; border-top:1px solid #2e2e2e; padding:0 0; clear:none;}
.modify1 .mobile_menu_area .shortcut_icons ul li{border-top-color: #f3f3f3;}
/*
.mobile_menu_area .shortcut_icons ul li:nth-child(11) {display:none;}
*/
.mobile_menu_area .shortcut_icons ul li dl {position:relative; text-align:center; color:#bbb; border-right:1px solid #2e2e2e;}
.modify1 .mobile_menu_area .shortcut_icons ul li dl{border-right-color: #f3f3f3; color: #666;}
.mobile_menu_area .shortcut_icons ul li:nth-child(10) dl {border-right:0px;}
.mobile_menu_area .shortcut_icons ul li dl a {position:relative; display:block; padding:12px;}
.mobile_menu_area .shortcut_icons ul li dl dt img {width:52px;}

.mobile_menu_area .shortcut_icons ul li dl a .ing {position:absolute; z-index:50; background:#d3d3d3; color:#333; padding:0 8px; height:22px; line-height:22px; vertical-align:middle; border-radius:12px; font-size:11px; right:10%;}
.mobile_menu_area .shortcut_icons ul li.dim dl a {opacity:0.3;}
.mobile_back {position:fixed; z-index:2999 !important; width:100%; height:100%; background:rgba(255,255,255,0.95); display:none !important;}
}

@media screen and (max-width:1080px){
.mobile_menu_area .shortcut_icons ul li {width:20%;}
/*
.mobile_menu_area .shortcut_icons ul li:nth-child(11) {display:block;}
*/
.mobile_menu_area .shortcut_icons ul li:nth-child(5) dl {border-right:0px;}
.mobile_menu_area .shortcut_icons ul li dl a .ing {right:24%;}
}
@media screen and (max-width:920px){
.mobile_menu_area .shortcut_icons ul li dl a .ing {right:18%;}
}
@media screen and (max-width:720px){
.mobile_menu_area .shortcut_icons ul li dl a {padding:10px;}
.mobile_menu_area .shortcut_icons ul li dl dd {font-size:14px;}
}

@media screen and (max-width:640px) {
#header h1 { left: 4%;}
.mobile_lnb a.menu_btn{ padding:0 4% 0 0 ; }
.mobile_menu_area ul li {  padding:8px 4%; }
.mobile_menu_area ul li p {padding:10px 0; font-size:14px; width:100%;}

.mobile_menu_area .shortcut_icons ul li dl a {padding:4px;}
.mobile_menu_area .shortcut_icons ul li dl dt img {width:40px;}
.mobile_menu_area .shortcut_icons ul li dl dd span {display:none;}
}
@media screen and (max-width:520px) {
.mobile_menu_area .shortcut_icons ul li dl dt img {width:30px;}
.mobile_menu_area .shortcut_icons ul li dl dd {font-size:13.5px;}
.mobile_menu_area .shortcut_icons ul li:nth-child(10) dl dd {font-size:12px !important;}
.mobile_menu_area ul li p {padding:7px 0;}

.mobile_menu_area ul li.etc {width:50%;}
.mobile_menu_area ul li:nth-child(6) p {border-right:0px;}
.mobile_menu_area ul li.etc p {padding:10px 2%;}

.mobile_menu_area .shortcut_icons ul li dl a .ing {padding:0 5px; height:19px; line-height:19px; border-radius:10px; right:10%;}
}






/* Footer */
#footer { position: relative; clear:both; border-top:1px solid #404040;}

#footer .foot_top {padding:30px 0;}
#footer .foot_top:after {clear:both; display:block; content:"";}
#footer .foot_top .guide {width:60%; float:left;}
#footer .foot_top .guide ul:after {clear:both; display:block; content:"";}
#footer .foot_top .guide ul li {width:20%; float:left; text-align:center;}
#footer .foot_top .guide ul li dl {border-right:1px solid #e9e9e9;}
#footer .foot_top .guide ul li dl a {display:block;}
#footer .foot_top .guide ul li dl dt {margin:0 0 7px 0;}
#footer .foot_top .guide ul li:last-child dl {border-right:0px;}
#footer .foot_top .sns {width:30%; float:right; text-align:right;}
#footer .foot_top .sns ul {font-size:0px;}
#footer .foot_top .sns ul li {display:inline-block;}
#footer .foot_top .sns ul li p {padding-top:13px; padding-left:6px;}
#footer .foot_top .sns ul li:first-child p {padding-left:0px;}


#footer .info {width:100%; position:relative; background:#404040; padding:50px 0; font-size:14px;}
#footer .info ul {margin:0 0 0 -40px;}
#footer .info ul:after {clear:both; display:block; content:"";}
#footer .info ul li {width:33.333%; float:left;}
#footer .info ul li dl {margin:0 0 0 40px; border-right:1px solid #333; height:174px;}
#footer .info ul li:last-child dl {border-right:0px;}
#footer .info ul li dl dt {font-size:17px; font-weight:600; margin:0 0 12px 0;}
#footer .info ul li dl dd {margin:0 0 8px 0;}
#footer .info ul li dl dd:last-child {margin:0 0 0 0;}
#footer .info ul li dl.time {color:#eee;}
#footer .info ul li dl.time dt .sub {color:#a2a2a2; font-size:13px; font-weight:400; line-height:normal; margin:2px 0 0 0;}
#footer .info ul li dl.shortcut {color:#eee;}
#footer .info ul li dl.shortcut dd p {padding:0 0 3px 0;}
#footer .info ul li dl.shortcut dd p:last-child {padding:0 0 0 0;}
#footer .info ul li dl.address {color:#a2a2a2;}

#footer.mobile {display:none;}

@media screen and (max-width:1280px){
#footer.pc {display:none;}
#footer.mobile {display:block;}

#footer.mobile .bottom_fix {position:fixed; bottom:0; left:0; width:100%; height:50px; z-index:1200; border-top:1px solid #eee;}
#footer.mobile .bottom_fix:after {clear:both; display:block; content:"";}
#footer.mobile .bottom_fix a {display:block; line-height:50px; vertical-align:middle; text-align:center; color:#222; font-size:16px; font-weight:500; float:left; width:50%;}
#footer.mobile .bottom_fix span {margin:0 0 0 -10px;}
#footer.mobile .bottom_fix span img {width:30px; vertical-align:middle;}

#footer.mobile .bottom_fix a.bottom_call {background:#fff;}
#footer.mobile .bottom_fix a.bottom_estimate {background:#21db7a;}

#footer {border-top:0px;}
#footer .guide {position:relative; background:#eee; padding:24px 0;}
#footer .guide ul:after {clear:both; display:block; content:"";}
#footer .guide ul li {width:25%; float:left;}
#footer .guide ul li dl {text-align:center;}
#footer .guide ul li dl a {display:block;}
#footer .guide ul li dl dt {margin:0 0 6px 0;}
#footer .guide ul li dl dt img {width:52px;}
#footer .guide ul li dl dd br {display:none;}

#footer .info_mobile.on {margin:0 0 50px 0;}
#footer .info {text-align:center; padding:32px 0; }
#footer .info .sns {margin:0 0 20px 0;}
#footer .info .sns ul {margin:0 0 0 0;}
#footer .info .sns ul li {width:auto; display:inline-block; float:none; clear:both; margin:0 3px;}
#footer .info .sns ul li p img {width:36px;}
#footer .info address p {color:#a2a2a2;}
#footer .info address p.copy {padding:8px 0 0 0;}
#footer .info address p a {display:inline-block; /*border-bottom:1px solid #a2a2a2;*/}
}
@media screen and (max-width:640px){
#footer .guide ul li dl dt img {width:42px;}
#footer .guide ul li dl dd {font-size:14px; line-height:18px;}
}
@media screen and (max-width:520px){
#footer .guide ul li:first-child dl dd {line-height:; vertical-align:middle;}
#footer .guide ul li dl dd br {display:block;}
}



/*go_top*/
.btn_top{ position:fixed; right:10px; bottom:10px; width:50px; z-index:100; display:none !important;}

@media screen and (max-width:640px){
.btn_top { display:none;}
}







/* Sub Layout */
.sub_visual {position:relative; overflow:hidden;  transition:all .1s linear; z-index:8; /*margin:36px 0 0 0;*/ background:url("../img/sub/sub_visual_typo.jpg") center center no-repeat;}
.sub_visual .wrap {position:relative; height:240px;}
/*
.sub_visual01-1 {background:url("../img/sub/sub_visual01_1.jpg") center center no-repeat;}
.sub_visual01-2 {background:url("../img/sub/sub_visual01_2.jpg") center center no-repeat;}
.sub_visual01-3 {background:url("../img/sub/sub_visual01_3.jpg") center center no-repeat;}
.sub_visual01-4 {background:url("../img/sub/sub_visual01_4.jpg") center center no-repeat;}
.sub_visual01-5 {background:url("../img/sub/sub_visual01_5.jpg") center center no-repeat;}
.sub_visual01-6 {background:url("../img/sub/sub_visual01_6.jpg") center center no-repeat;}
.sub_visual01-7 {background:url("../img/sub/sub_visual01_7.jpg") center center no-repeat;}
.sub_visual01-8 {background:url("../img/sub/sub_visual01_8.jpg") center center no-repeat;}
.sub_visual01-9 {background:url("../img/sub/sub_visual01_9.jpg") center center no-repeat;}
.sub_visual01-10 {background:url("../img/sub/sub_visual01_10.jpg") center center no-repeat;}
.sub_visual01-11 {background:url("../img/sub/sub_visual01_11.jpg") center center no-repeat;}
.sub_visual01-12 {background:url("../img/sub/sub_visual01_12.jpg") center center no-repeat;}
.sub_visual01-13 {background:url("../img/sub/sub_visual01_13.jpg") center center no-repeat;}
.sub_visual02 {background:url("../img/sub/sub_visual02.jpg") center center no-repeat;}
.sub_visual03 {background:url("../img/sub/sub_visual03.jpg") center center no-repeat;}
.sub_visual04 {background:url("../img/sub/sub_visual04.jpg") center center no-repeat;}
.sub_visual05 {background:url("../img/sub/sub_visual05.jpg") center center no-repeat;}
.sub_visual06 {background:url("../img/sub/sub_visual06.jpg") center center no-repeat;}
.sub_visual07 {background:url("../img/sub/sub_visual07.jpg") center center no-repeat;}
.sub_visual08 {background:url("../img/sub/sub_visual08.jpg") center center no-repeat;}
*/
.sub_visual01 {display:none;}
.sub_visual .text {position:absolute; z-index:9; width:100%; top:50%; transform: translate(0%, -60%); text-align:center;}
.sub_visual h2 { font-size: 36px; font-weight:600; margin:0; color:#222; }
.sub_visual h2 span {font-weight:200;}
.sub_visual p.sub_text {font-size:15px; color:#555; margin:8px 0 0 0; line-height:1.35em; font-weight:300;}
.sub_visual p.mobile_text {display:none;}

.sub_visual .visual_img {position:relative;}
.sub_visual .visual_img img.pc {display:block;}
.sub_visual .visual_img img.mobile {display:none;}

@media all and (max-width:1280px) {
.sub_visual {background-position:70% center !important; background-size:cover; margin:42px 0 0 0;}
.sub_visual .wrap {margin:0 0 !important; height:200px;}
.sub_visual h2 {font-size:36px; margin:0 2%;}
.sub_visual p.sub_text {margin:10px 2% 0 2%;}
.sub_visual.sub_visual08 {margin:0 0 0 0;} 
.sub_visual.sub_visual05 {display:none;} 
.sub_visual.sub_visual06 {display:none;} 
.sub_visual.sub_visual07 {display:none;} 
}
@media all and (max-width:920px) {
.sub_visual .wrap {height:150px;}
.sub_visual .text {top:55%;}
.sub_visual h2 {font-size:30px;}
.sub_visual p.sub_text {font-size: 16px; margin:8px 2% 0 2%;}
}
@media all and (max-width:640px) {
.sub_visual h2 {display:none;}
.sub_visual p.sub_text {display:none;}
.sub_visual p.mobile_text {display:block; font-size:28px; font-weight:600; color:#222; margin:0 4%; text-align:center;}
.sub_visual.sub_visual01-1 h2 {display:block; font-size:28px; font-weight:600; color:#222; margin:0 4%; text-align:left;}
.sub_visual.sub_visual01-1 p.mobile_text {display:none;}

.sub_visual01-10 {background:url("../img/sub/sub_visual01_10_1.jpg") no-repeat;}
}
@media all and (max-width:480px) {
.sub_visual .wrap {height:100px;}
.sub_visual p.mobile_text {font-size:22px;}
.sub_visual.sub_visual01-1 h2 {font-size:22px; text-align:center;}
}





/* 서브메뉴 */
.submenu01-1 {display:none;}
.submenu.submenu08 {display:none;}
/*
.submenu {position:relative; z-index:50; margin:-48px 0 0 0; }
.submenu .submenu_item {background:rgba(0,0,0,.2);}
.submenu .submenu_item ul {}
.submenu .submenu_item ul:after {clear:both; display:block; content:"";}
.submenu .submenu_item ul li {float:left;}
.submenu.submenu01 .submenu_item ul li {width:10%;}
.submenu.submenu02 .submenu_item ul li {width:10%;}
.submenu.submenu04 .submenu_item ul li {width:25%;}
.submenu.submenu05 .submenu_item ul li {width:33.333%;}
.submenu.submenu06 .submenu_item ul li {width:50%;}
.submenu.submenu07 .submenu_item ul li {width:33.333%;}
.submenu .submenu_item ul li a {position:relative; display:block; line-height:48px;vertical-align:middle; text-align:center; color:#fff; opacity:0.9;}
.submenu .submenu_item ul li a.dim {opacity:0.4;}
.submenu .submenu_item ul li.on a {font-weight:500; background:#222; opacity:1; font-size:16px; }
.submenu .submenu_item ul li.on a:after {content: ''; display: inline-block; width: 16px; height: 16px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); left: 50%; margin-left: -8px; background: #222; position: absolute; bottom: -6px; opacity: 1; z-index: 99999999;}
.submenu .submenu_item ul li a span {display:inline-block; line-height:48px;}
.submenu .submenu_item ul li a span.icon {display:none;}
.submenu .submenu_item ul li a span.icon img {width:29px; vertical-align:middle;}
.submenu .submenu_item ul li.on a span.icon {display:inline-block;}

@media all and (max-width:1300px) {
.submenu {margin:0 0 0 0; transform: translateZ(0px); position: absolute; width: 100vw; height: 42px; z-index: 100; overflow-y: hidden; overflow-x: auto; -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out; opacity: 1; visibility: visible; border-bottom:1px solid #e9e9e9;}
.submenu .submenu_item {width:860px;  min-width: 860px;  overflow-x: scroll; overflow-y: hidden; background:#fff; }
.submenu .wrap {margin:0 0 !important;}
.submenu .submenu_item ul li {float:none; clear:both; display:inline-block; width:auto !important; position:relative;}
.submenu .submenu_item ul li a {color:#555; opacity:1; padding:0 10px; line-height:42px;}
.submenu .submenu_item ul li.on a {color:#fff; padding:0 15px; background:#11c266;}
.submenu .submenu_item ul li.on a:after {display:none;}
.submenu .submenu_item ul li a span {line-height:42px;}
}
@media all and (max-width:640px) {
.submenu.small {position:fixed !important; top:50px;}
}
*/
.submenu {position:relative; margin:0 0 0 0;}
.submenu .submenu_item {background:#fff; text-align:center;}
.submenu .submenu_item ul li {float:none; clear:both; display:inline-block; width:auto;}
.submenu .submenu_item ul li a {display:block; line-height:42px; color:#555; opacity:1; border:1px solid #ddd; padding:0 20px; margin:0 2px;}
.submenu .submenu_item ul li.on a {position:relative; display:block; color:#fff; border:1px solid #222; background:#222;}
.submenu .submenu_item ul li.on a:after {content: ''; display: inline-block; width: 16px; height: 16px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); left: 50%; margin-left: -8px; background: #222; position: absolute; bottom: -6px; opacity: 1; z-index: 100;}
.submenu .submenu_item ul li a span {display:inline-block; line-height:42px;}
.submenu .submenu_item ul li a span.icon {display:none;}
.submenu .submenu_item ul li a span.icon img {width:29px; vertical-align:middle;}
.submenu .submenu_item ul li.on a span.icon {display:inline-block;}


@media all and (max-width:1300px) {
.submenu {margin:0 0 0 0; transform: translateZ(0px); position: fixed; top:50px; width: 100vw; height: 42px; z-index: 100; overflow-y: hidden; overflow-x: auto;/*overflow-x: scroll;*/ -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out; opacity: 1; visibility: visible;  background:#f5f5f5;}
.submenu .submenu_item {width:860px;  min-width: 860px;  overflow-x: scroll; overflow-y: hidden; background:#f5f5f5; text-align:left;}
.submenu .wrap {margin:0 0 !important;}
.submenu .submenu_item ul li {float:none; clear:both; display:inline-block; width:auto !important; position:relative; font-size:0px;}
.submenu .submenu_item ul li a {color:#555; opacity:1; padding:0 10px; line-height:42px; border:0px; margin:0 0;}
.submenu .submenu_item ul li.on a {color:#fff; padding:0 15px; background:#222; border:0px;}
.submenu .submenu_item ul li.on a:after {display:none;}
.submenu .submenu_item ul li a span {line-height:42px; font-size:15px;}
}
@media all and (max-width:640px) {
.submenu.small {position:fixed !important; top:50px;}
}




/*sub layout*/
.sub_container {clear:both; position:relative; margin:0 auto;  z-index:10; padding:40px 0 80px 0; min-height:400px; }
.sub_contents {clear:both; position:relative; margin:0 auto;}

.opacity-view {position:absolute; width:100%; height:100%; background:rgba(255,255,255,.7); z-index:90;}

@media screen and (max-width:1300px){
.sub_container {padding:0 0 40px 0; margin:42px 0 0 0;}

}




/*타이틀, path*/
.tit_area{position:relative; z-index:1999 !important ; margin:40px 0; }
.tit_area01 {display:none;}
.tit_area02 {display:none;}
.tit_area h2{font-size:38px; padding:0 ; letter-spacing:-1px; font-weight:400; color:#222; text-align:center;}

@media all and (max-width:1280px) {
.tit_area h2 {font-size: 30px;}
}
@media screen and (max-width:640px) {
.tit_area {display:none;}
}






.datepicker {z-index:909009909009 !important;}