 @CHARSET "UTF-8"
@font-face{
	font-family: 'NanumSquare';
	src: url(font/NanumSquareReqular.ttf) format('truetype');
}
body{
	font-family: NanumSquare;
	font-size : 14px;
  	position: absolute;
  	padding: 0;
  	margin: 0;
  	border:0px;
  	width: 100%;
  	height: 100%;
  	background-color: #fff;
  	align-items: center;
  	justify-content: center;
}
table{
	font-size : 14px;
}
.topbar{
height:40px;
background-color: white;
position:fixed;
width:100%;
text-align:center;
display: inline-block;
clear:both;
}
.menu_icon{
	margin:0px;
	padding:5px;
	border:0px;
	position:relative;
	float:left;
	top : 5px;
}
.menu_button{
	width:30px;
	height:30px;
	margin:0px -31px 0px 0px;
	display:inline-block;
	float:left;
	z-index:2;
}
.menu_button input{
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;

	cursor: pointer;

	opacity: 0; /* hide this */
	z-index: 3; /* and place it over the hamburger */

	-webkit-touch-callout: none;
}
.menu_content{
position: absolute;
left:-250px;
top: 0px;
width: 250px;
height: 100%;
z-index:100;
overflow: hidden;
background-color:#fafafa;
}
.milylounge{
	display: inline-block;
	margin:0 auto;
	padding: 15px 0 0 0;	
	position:relative;
}
#logo{
	margin:-4px;
}
#cover{
width:100%;
height:100%;
position:fixed;
top:0px;
left:0px;
background-color:#000;
opacity:0.5;
z-index:10;
display:none;
}
.menu_content img{
	padding: 8px 0 0 225px;
}
.member{
padding: 35px 0 30px 35px;
}
.member>span{
	display: block;
	padding-bottom: 13px;
}
#loginplz{
	text-decoration: underline;
	color: #3c78ff;
}
.membermenu{
	padding: 17px 0 0 0;
}
.menu_content ul{
	padding: 0 0 0 35px;
}
.menu_content li{
	padding:11px 0 11px;
	font-size: 13px;
	list-style-type: none;
}
li #content{
	left: 50px;
}
.playground {
  border-radius: 6px;
  width: 100%;
  padding: 0;
  display: block;
  bottom : -5%;
 }
.bar-container {
  position: relative;
  flex: 0 0 30%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.progressTag {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  height: 10px;
  border-radius: 7px;
  color: white;
  width: 99px;
}
progress::-webkit-progress-bar {
  background-color: #b6b6b6;
  border-radius: 8px;
}
progress::-webkit-progress-value {
  background-color: #287d5b;
  border-radius: 8px;
}
progress::-moz-progress-bar {
  background-color: #eee;
  border-radius: 8px;
}